In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(dict(
    time = [1,2,3],
    vals = [10,11,12],
))

In [3]:
df

   time  vals
0     1    10
1     2    11
2     3    12

#### If data is a Series, the index selects indexed elements

In [8]:
pd.Series(df.vals, index=df.time)

time
1    11.0
2    12.0
3     NaN
Name: vals, dtype: float64

#### Option 1: Do this in two steps

In [10]:
s = pd.Series(df.vals)
s.index = df.time
s

time
1    10
2    11
3    12
Name: vals, dtype: int64

#### Option 2: Convert the first argument to its values

In [11]:
pd.Series(df.vals.values, index=df.time)

time
1    10
2    11
3    12
dtype: int64