**1**. (10 points)

Consider an eager (i.e. non-lazy) form of the map function that takes a list `xs` to another list `ys` by applying the same function `f` to each member of `xs`. Write a recursive version of map `rmap` and test it on the two simple cases shown below.

In [1]:
list(map(lambda x: x + x, []))

[]

In [2]:
list(map(lambda x: x + x, [1,2,3]))

[2, 4, 6]

**2**. (25 points)

- Using the `requests` package, download berries 1, 2, and 3 from `https://pokeapi.co/api/v2/berry` in JSON format and 
convert to a `pandas` DataFrame (5 points)
- Create a new DataFrame that only retains only the `name` column and numeric columns. You should find the appropriate columns, not hard code their locations. (10 points)
- Show only rows where the name begins with the letter `c` (5 points)
- Convert to a `numpy` array (excluding `name`) and standardize so each **row** has mean 0 and standard deviation 1 (5 points)

The necessary package imports are made for you.

In [6]:
import requests
import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype

**3**. (25 points)

We have provided an SQLite3 database with 3 tables `dog`, `treat` and `dog_treat`. The `dog_treat` table is a linker table showing which dog ate which treat. 

- Show a table of ALL dogs and the treats with calories that they ate with column names `dog`, `treat`, `calorie`. A dog that did not eat any treats should still be present in the table (15 points)
- Using a common table expression, show a table with two columns `dog` and `total_calories` where only dogs that have eaten more than 500 calories are displayed (5 points)

In [15]:
%load_ext sql

In [16]:
%sql sqlite:///pets.db

'Connected: None@pets.db'

In [17]:
%sql SELECT * FROM sqlite_master

Done.

[('table', 'dog', 'dog', 2, 'CREATE TABLE dog (\n\t"index" BIGINT, \n\tdog_id BIGINT, \n\tname TEXT, \n\tage BIGINT\n)'),
 ('index', 'ix_dog_index', 'dog', 3, 'CREATE INDEX ix_dog_index ON dog ("index")'),
 ('table', 'treat', 'treat', 4, 'CREATE TABLE treat (\n\t"index" BIGINT, \n\ttreat_id BIGINT, \n\tname TEXT, \n\tcalories BIGINT\n)'),
 ('index', 'ix_treat_index', 'treat', 5, 'CREATE INDEX ix_treat_index ON treat ("index")'),
 ('table', 'dog_treat', 'dog_treat', 6, 'CREATE TABLE dog_treat (\n\t"index" BIGINT, \n\ttreat_id BIGINT, \n\tdog_id BIGINT\n)'),
 ('index', 'ix_dog_treat_index', 'dog_treat', 7, 'CREATE INDEX ix_dog_treat_index ON dog_treat ("index")')]

**4**. (40 points)

You want to evaluate whether a liner, quadratic or cubic polynomial is the best model for a set of data using leave-one-out cross-validation (LOOCV) and the mean squared error as evaluation metric. 

- Write a function named `loocv` that takes the predictor variable `x`, the outcome variable `y`, a list of of degrees of polynomial models to be evaluated, and an evaluation function and returns the best model found by LOOCV. For example, you would call the function like this `loocv(x, y, [1,2,3], mse)` where `mse` is of course a function that returns the mean squared error. (30 points)
- Write the `mse` function to provide to the LOOCV routine (5 points)
- Use the `llocv` function to find the best polynomial model for the data provided (5 points)

Notes

- Use the `x` and `y` variables provided
- Do not use any packages except for the standard library and `numpy`
- Code snippets for fitting and evaluation of polynomials is provided

In [2]:
import numpy as np

In [13]:
x = np.load('x.npy')
y = np.load('y.npy')

In [4]:
coeffs = np.polyfit(x, y, 2)
ypred = np.polyval(coeffs, x)