# S01 Relational Databases

For a simple tutorial on database design, see [Introduction to Database Design](https://www.datanamic.com/support/lt-dez005-introduction-db-modeling.html)

For a deep dive, see [Database Design for Mere Mortals](https://www.amazon.com/Database-Design-Mere-Mortals-Hands/dp/0321884493/ref=dp_ob_title_bk)

## 0. Packages for working with relational databases in Python

- [Python Database API Specification v2.0](https://www.python.org/dev/peps/pep-0249/) - The standard Python Database API
- [sqlite3](https://docs.python.org/3.7/library/sqlite3.html) - API for builit-in `sqlite3` package
- [Database drivers](https://github.com/vinta/awesome-python#database-drivers) - For connecting to other databases
- [ipython-sql](https://github.com/catherinedevlin/ipython-sql) - SQL magic in Jupyter
- [SQLAlchemy](https://www.sqlalchemy.org) - Most well-known Object Relational Mapper (ORM)
- [Pony ORM](https://ponyorm.com) - Alternative ORM

## 1. Motivation

Why relational databases and SQL?

- History of databases
- ACID
- Data integrity
- Schema

## 2. RDBMS

- Memory
- Storage
- Dictionary
- Query language

## 3. Anatomy

- **Table** (Relation): Represents a *subject* or an *event*.
- **Column** (Attribute): Represents a single *variable* or *feature*.- 
- **Row** (Tuple): represents an *observation*.

## 4. Concepts

### Constraints

You can impose constraints that values in a column have to take. For example, you can specify that values are compulsory (NOT NULL), or UNIQUE or fall within a certain range.

### Referential integrity

- Primary key represents a unique identifier of a row. It may be simple or composite.
  - Unique
  - Non-null
  - Never optional
- Foreign key is a column containing the primary key of a different table. It enforces *referential integrity*.

### Relationships

- One to one
- One to many
- Many to many

- What happens on delete?
  - Restrict
  - Cascade

### Indexes

An index is a data structure that allows fast search of a column (typically from linear to log time complexity). Most databases will automatically build an index for every primary key column, but you can also manually specify columns to build indexes for.

### Views

- Temporary virtual table returned as a result of a *query*.
- Views only specify the strucutre of a table - the contents are constructed on the fly from existing tables.
- Queries return a Result Set

## 5. Design

### Columns

- Use singlular form for name 
- Use informative names
- Use unique names not shared by any other table (except foreign keys)
- Column must be an attribute of the table's subject
- Eliminate multi-part columns
- Eliminate multi-value columsn
- Eliminate redundant columns

### Tables

- Use singular/plural forms for name (controversial)
- Enusre every table has a primary key
- Eliminate duplicate columns

### Relationships

- Establish participation type and degree of relationship
  - One to one
  - One to many
  - Many to many

## 6. Example

Use `sqlmagic` as alternative to using `sqlite3` driver.

In [1]:
%env DATABASE_URL=postgresql+psycopg2://postgres:postgres@db.postgres.app.com

env: DATABASE_URL=postgresql+psycopg2://postgres:postgres@db.postgres.app.com

In [2]:
%load_ext sql

Connect to Postgres

In [5]:
%config SqlMagic

SqlMagic options
--------------
SqlMagic.autocommit=<Bool>
    Current: True
    Set autocommit mode
SqlMagic.autolimit=<Int>
    Current: 0
    Automatically limit the size of the returned result sets
SqlMagic.autopandas=<Bool>
    Current: False
    Return Pandas DataFrames instead of regular result sets
SqlMagic.column_local_vars=<Bool>
    Current: False
    Return data into local variables from column names
SqlMagic.displaylimit=<Int>
    Current: None
    Automatically limit the number of rows displayed (full result set is still
    stored)
SqlMagic.dsn_filename=<Unicode>
    Current: 'odbc.ini'
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
SqlMagic.feedback=<Bool>
    Current: True
    Print number of rows affected by DML
SqlMagic.short_errors=<Bool>
    Current: True
    Don't display the full traceback on SQL Programming Error
SqlMagic.style=<Unicode>
    Current: 'DEFAULT'
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM)

In [4]:
%%sql
\d

6 rows affected.

[('public', 'accounts', 'table', 'postgres'),
 ('public', 'flat', 'table', 'postgres'),
 ('public', 't_cities', 'table', 'postgres'),
 ('public', 't_cities_id_seq', 'sequence', 'postgres'),
 ('public', 't_weather_observations', 'table', 'postgres'),
 ('public', 't_weather_observations_id_seq', 'sequence', 'postgres')]

In [2]:
uri = "postgresql+psycopg2://postgres:postgres@db.postgres.app.com"

In [3]:
%sql {uri}

'Connected: postgres@None'

SQL for table deletion and creation

In [56]:
%%sql

DROP TABLE IF EXISTS Person;
DROP TABLE IF EXISTS Country;

CREATE TABLE Country (
    country_id varchar(2) PRIMARY KEY,
    country_name varchar(255)
);

CREATE TABLE Person (
    person_id SERIAL PRIMARY KEY,
    person_first varchar(255),
    person_last varchar(255),
    country_id varchar(2) NOT NULL,
    FOREIGN KEY (country_id) REFERENCES Country(country_id)
);

 * postgresql+psycopg2://postgres:***@db.postgres.app.com
   postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
Done.
Done.
Done.
Done.

[]

In [57]:
%%sql
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog'
AND schemaname != 'information_schema';

 * postgresql+psycopg2://postgres:***@db.postgres.app.com
   postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
2 rows affected.

[('public', 'country', 'postgres', None, True, False, True, False),
 ('public', 'person', 'postgres', None, True, False, True, False)]

SQL to insert rows.

In [58]:
%%sql

INSERT INTO Country(country_id, country_name) 
VALUES 
('FR', 'France'),
('CU', 'CUBA');

 * postgresql+psycopg2://postgres:***@db.postgres.app.com
   postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
2 rows affected.

[]

The `pg_relation_size()` function returns the size of the table only, not included indexes or additional objects.

In [61]:
%%sql

SELECT pg_size_pretty(pg_relation_size('Country'));

 * postgresql+psycopg2://postgres:***@db.postgres.app.com
   postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
1 rows affected.

[('8192 bytes',)]

In [60]:
%%sql

INSERT INTO Person(person_first, person_last, country_id) 
VALUES 
('Napolean', 'Bonaparte', 'FR'),
('Luis','Alvarez', 'CU');

 * postgresql+psycopg2://postgres:***@db.postgres.app.com
   postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
2 rows affected.

[]

Accessing the RDBMS dictionary.

In [9]:
%%sql

SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog';

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
9 rows affected.

[('public', 'country', 'postgres', None, True, False, True, False),
 ('public', 'person', 'postgres', None, True, False, True, False),
 ('information_schema', 'sql_features', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_implementation_info', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_languages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_packages', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_parts', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing', 'postgres', None, False, False, False, False),
 ('information_schema', 'sql_sizing_profiles', 'postgres', None, False, False, False, False)]

In [10]:
%%sql

SELECT sql FROM postgres 
WHERE name='Person';

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
(psycopg2.errors.UndefinedTable) relation "postgres" does not exist
LINE 1: SELECT sql FROM postgres
                        ^

[SQL: SELECT sql FROM postgres
WHERE name='Person';]
(Background on this error at: http://sqlalche.me/e/f405)

SQL as a Query Language.

In [11]:
%%sql

SELECT person_first as first, person_last AS last, country_name AS nationality
FROM Person 
INNER JOIN country 
ON Person.country_id = Country.country_id;

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
2 rows affected.

[('Napolean', 'Bonaparte', 'France'), ('Luis', 'Alvarez', 'CUBA')]

Visualizing the entitry-relationship diagram (ERd).

In [7]:
%config?

Docstring:
configure IPython

    %config Class[.trait=value]

This magic exposes most of the IPython config system. Any
Configurable class should be able to be configured with the simple
line::

    %config Class.trait=value

Where `value` will be resolved in the user's namespace, if it is an
expression or variable name.

Examples
--------

To see what classes are available for config, pass no arguments::

    In [1]: %config
    Available objects for config:
        TerminalInteractiveShell
        HistoryManager
        PrefilterManager
        AliasManager
        IPCompleter
        DisplayFormatter

To view what is configurable on a given class, just pass the class
name::

    In [2]: %config IPCompleter
    IPCompleter options
    -----------------
    IPCompleter.omit__names=<Enum>
        Current: 2
        Choices: (0, 1, 2)
        Instruct the completer to omit private method names
        Specifically, when completing on ``object.<tab>``.
        When 2 [default]: all names that start with '_' will be excluded.
        When 1: all 'magic' names (``__foo__``) will be excluded.
        When 0: nothing will be excluded.
    IPCompleter.merge_completions=<CBool>
        Current: True
        Whether to merge completion results into a single list
        If False, only the completion results from the first non-empty
        completer will be returned.
    IPCompleter.limit_to__all__=<CBool>
        Current: False
        Instruct the completer to use __all__ for the completion
        Specifically, when completing on ``object.<tab>``.
        When True: only those names in obj.__all__ will be included.
        When False [default]: the __all__ attribute is ignored
    IPCompleter.greedy=<CBool>
        Current: False
        Activate greedy completion
        This will enable completion on elements of lists, results of
        function calls, etc., but can be unsafe because the code is
        actually evaluated on TAB.

but the real use is in setting values::

    In [3]: %config IPCompleter.greedy = True

and these values are read from the user_ns if they are variables::

    In [4]: feeling_greedy=False

    In [5]: %config IPCompleter.greedy = feeling_greedy
File:      /opt/conda/lib/python3.7/site-packages/IPython/core/magics/config.py

In [12]:
import ibis

In [4]:
import eralchemy

In [11]:
from sqlalchemy import create_engine

engine = create_engine(uri)
conn = engine.connect()

In [15]:
import os
from eralchemy import render_er

if not os.path.exists('erd_from_sqlalchemy.png'):
    render_er(uri, 'erd_from_sqlalchemy.png')

/opt/conda/lib/python3.7/site-packages/sqlalchemy/dialects/postgresql/base.py:2972: SAWarning: Did not recognize type 'point' of column 'location'
  "Did not recognize type '%s' of column '%s'" % (attype, name)

![](erd_from_sqlalchemy.png)

## Homework walk-through

Convert the flat file data in `data/flat.csv` into a well-structured relational database in SQLite3 stored as `data/faculty.db`. Note - salary information is confidential and should be kept in a separate table from other personal data.

In [6]:
import pandas as pd

In [9]:
flat = pd.read_csv('../data/flat.csv', keep_default_na=False)
flat.sample(3)

,name,gender,age,height,weight,salary,nationality,code,country,language1,language2,language3,first,last
899,Lucien Pittman,Male,61,1.87,58,73000,Danish,DK,Denmark,AutoIt,Dylan,Transact-SQL,Lucien,Pittman
1516,Zane Calhoun,Male,60,1.93,48,127000,Greek,GR,Greece,Io,Java,,Zane,Calhoun
827,Lauran Willis,Female,34,1.92,75,89000,Romanian,RO,Romania,,,,Lauran,Willis

In [12]:
flat.to_sql('flat', conn)

In [13]:
%%sql

\d

 * postgresql+psycopg2://postgres:***@db.postgres.app.com
6 rows affected.

[('public', 'accounts', 'table', 'postgres'),
 ('public', 'flat', 'table', 'postgres'),
 ('public', 't_cities', 'table', 'postgres'),
 ('public', 't_cities_id_seq', 'sequence', 'postgres'),
 ('public', 't_weather_observations', 'table', 'postgres'),
 ('public', 't_weather_observations_id_seq', 'sequence', 'postgres')]

In [35]:
%%sql

USE faculty;

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
(psycopg2.errors.SyntaxError) syntax error at or near "USE"
LINE 1: USE faculty;
        ^

[SQL: USE faculty;]
(Background on this error at: http://sqlalche.me/e/f405)

In [22]:
%%sql

DROP TABLE IF EXISTS Person;
DROP TABLE IF EXISTS Country;

CREATE TABLE Country (
    country_id varchar(2) PRIMARY KEY,
    country_name varchar(255)
);

CREATE TABLE Person (
    person_id SERIAL PRIMARY KEY,
    name varchar(255),
    age INTEGER NOT NULL,
    country_id varchar(2) NOT NULL,
      FOREIGN KEY (country_id) REFERENCES Country(country_id)
);

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
Done.
Done.
Done.
Done.

[]

In [23]:
%%sql

INSERT INTO Country(country_id, country_name) 
VALUES ('FR', 'France'), ('CU', 'CUBA');

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
2 rows affected.

[]

In [24]:
%%sql
DELETE FROM Country

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
2 rows affected.

[]

In [25]:
%%sql
SELECT * FROM Country

 * postgresql+psycopg2://postgres:***@db.postgres.app.com/postgres
0 rows affected.

[]

In [28]:
from sqlalchemy import create_engine

engine = create_engine(uri)
conn = engine.connect()

In [29]:
flat.columns

Index(['name', 'gender', 'age', 'height', 'weight', 'salary', 'nationality',
       'code', 'country', 'language1', 'language2', 'language3', 'first',
       'last'],
      dtype='object')

In [30]:
flat.rename(mapper={'code': 'country_id',
                    'country': 'country_name'},
           inplace=True)

country = flat[['country_id', 'country_name']]

country.set_index('country_id').to_sql('Country', engine, if_exists='append')

# %%sql
SELECT * FROM Country

In [62]:
flat.to_sql?

Signature:
flat.to_sql(
    name,
    con,
    schema=None,
    if_exists='fail',
    index=True,
    index_label=None,
    chunksize=None,
    dtype=None,
    method=None,
)
Docstring:
Write records stored in a DataFrame to a SQL database.

Databases supported by SQLAlchemy [1]_ are supported. Tables can be
newly created, appended to, or overwritten.

Parameters
----------
name : string
    Name of SQL table.
con : sqlalchemy.engine.Engine or sqlite3.Connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library. Legacy support is provided for sqlite3.Connection objects.
schema : string, optional
    Specify the schema (if database flavor supports this). If None, use
    default schema.
if_exists : {'fail', 'replace', 'append'}, default 'fail'
    How to behave if the table already exists.

    * fail: Raise a ValueError.
    * replace: Drop the table before inserting new values.
    * append: Insert new values to the existing table.

index : bool, default True
    Write DataFrame index as a column. Uses `index_label` as the column
    name in the table.
index_label : string or sequence, default None
    Column label for index column(s). If None is given (default) and
    `index` is True, then the index names are used.
    A sequence should be given if the DataFrame uses MultiIndex.
chunksize : int, optional
    Rows will be written in batches of this size at a time. By default,
    all rows will be written at once.
dtype : dict, optional
    Specifying the datatype for columns. The keys should be the column
    names and the values should be the SQLAlchemy types or strings for
    the sqlite3 legacy mode.
method : {None, 'multi', callable}, default None
    Controls the SQL insertion clause used:

    * None : Uses standard SQL ``INSERT`` clause (one per row).
    * 'multi': Pass multiple values in a single ``INSERT`` clause.
    * callable with signature ``(pd_table, conn, keys, data_iter)``.

    Details and a sample callable implementation can be found in the
    section :ref:`insert method <io.sql.method>`.

    .. versionadded:: 0.24.0

Raises
------
ValueError
    When the table already exists and `if_exists` is 'fail' (the
    default).

See Also
--------
read_sql : Read a DataFrame from a table.

Notes
-----
Timezone aware datetime columns will be written as
``Timestamp with timezone`` type with SQLAlchemy if supported by the
database. Otherwise, the datetimes will be stored as timezone unaware
timestamps local to the original timezone.

.. versionadded:: 0.24.0

References
----------
.. [1] http://docs.sqlalchemy.org
.. [2] https://www.python.org/dev/peps/pep-0249/

Examples
--------

Create an in-memory SQLite database.

>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite://', echo=False)

Create a table from scratch with 3 rows.

>>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
>>> df
     name
0  User 1
1  User 2
2  User 3

>>> df.to_sql('users', con=engine)
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

>>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
>>> df1.to_sql('users', con=engine, if_exists='append')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
 (0, 'User 4'), (1, 'User 5')]

Overwrite the table with just ``df1``.

>>> df1.to_sql('users', con=engine, if_exists='replace',
...            index_label='id')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 4'), (1, 'User 5')]

Specify the dtype (especially useful for integers with missing values).
Notice that while pandas is forced to store the data as floating point,
the database supports nullable integers. When fetching the data with
Python, we get back integer scalars.

>>> df = pd.DataFrame({"A": [1, None, 2]})
>>> df
     A
0  1.0
1  NaN
2  2.0

>>> from sqlalchemy.types import Integer
>>> df.to_sql('integers', con=engine, index=False,
...           dtype={"A": Integer()})

>>> engine.execute("SELECT * FROM integers").fetchall()
[(1,), (None,), (2,)]
File:      /opt/conda/lib/python3.7/site-packages/pandas/core/generic.py
Type:      method