In [1]:
-- connection: postgresql://johnny:password@192.168.32.3:5432/grafana

In [2]:
DROP TABLE IF EXISTS g_3p;

In [3]:
CREATE TABLE g_3p (
    id              SERIAL PRIMARY KEY,
    name            VARCHAR(120) NOT NULL,
    ts TIMESTAMP,
    capital         INTEGER,
    population      INTEGER
);

In [4]:
INSERT INTO g_3p (name, ts, capital, population) VALUES
   ( 'johnny', '2019-11-08 11:10:25-07', 2000, 3000),
   ( 'thunder', '2019-11-08 10:10:25-07', 2500, 3900)
;

In [5]:
SELECT * from g_3p;

2 row(s) returned.

  id  name     ts                     capital    population
----  -------  -------------------  ---------  ------------
   1  johnny   2019-11-08 11:10:25       2000          3000
   2  thunder  2019-11-08 10:10:25       2500          3900

In [11]:
SELECT
  ts AS "time",
  population,
  capital
FROM g_3p
ORDER BY ts

4 row(s) returned.

time                   population    capital
-------------------  ------------  ---------
2019-11-08 10:10:25          3900       2500
2019-11-08 11:10:25          3000       2000
2019-11-08 14:10:25           390       2570
2019-11-08 15:10:25           300       2400

In [7]:
INSERT INTO g_3p (name, ts, capital, population) VALUES
   ( 'johnny', '2019-11-08 15:10:25-07', 2400, 300),
   ( 'thunder', '2019-11-08 14:10:25-07', 2570, 390)
;